body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(81, 81, 233);
}

#canvas {
  border: 1px solid #000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: black;
  width: 800px;
  height: 600px;
  border-radius: 10px;
}
